<h1>Let's Create a New Survey</h1>
<%= form_for @survey do | f | %>
  <div>
    <%= f.label :name %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
