<h1>Survey: <%= @survey.name %></h1>
<p> <%= @uuid %> </p>
<h2>Questions:</h2>

<% if @survey.questions.count == 0 %>
  <p>This survey needs questions!!!</p>
<% else %>
    <% @survey.questions.each do |question| %>
      <div><%= question.question %>?</div>
    <% end %>
<% end %>

<div><%= link_to "Start Survey", new_survey_question_answer_path(@survey, @first_question, session_id: @session_id) %></div>


